@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Tajawal:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --padding-section: 5rem;
  }
}

@layer base {
  body {
    @apply font-poppins text-base font-normal scroll-smooth;
  }

  h1,
  h2,
  h3 {
    @apply leading-tight;
  }

  html:not([lang="ar"]) h1,
  html:not([lang="ar"]) h2,
  html:not([lang="ar"]) h3 {
    @apply tracking-tighter;
  }

  h1 {
    @apply text-[clamp(2rem,_1rem+_5vw,_4rem)] font-bold;
  }

  h2 {
    @apply text-[clamp(1.75rem,_1rem+_3vw,_2.5rem)] font-medium;
  }

  h3 {
    @apply text-[clamp(1.25rem,_1rem+_2vw,_1.75rem)] font-normal;
  }
}

html:lang(ar) {
  font-family: Tajawal, Arial, Helvetica, sans-serif;
}

img {
  @apply max-w-full;
}
